{% include head.html %}

  <!-- Introduction -->
  {% assign introduction_section = site.sections | where: "title", "Introduction" %}
  {% for section in introduction_section %}
    {{ section }}
  {% endfor %}
  <!-- Introduction -->

  <!-- Approach & Mindset -->
  {% assign approach_section = site.sections | where: "title", "Approach & Mindset" %}
  {% for section in approach_section %}
    {{ section }}
  {% endfor %}
  <!-- Approach & Mindset -->

  <!-- Activities & Outputs -->
  {% assign activities_section = site.sections | where: "title", "Activities & Outputs" %}
  {% for section in activities_section %}
    {{ section }}
  {% endfor %}
  <!-- Activities & Outputs -->

  <!-- Roles -->
  {% assign roles_section = site.sections | where: "title", "Roles" %}
  {% for section in roles_section %}
    {{ section }}
  {% endfor %}
  <!-- Roles -->

  <!-- Collaboration -->
  {% assign collaboration_section = site.sections | where: "title", "Collaboration" %}
  {% for section in collaboration_section %}
    {{ section }}
  {% endfor %}
  <!-- Collaboration -->

  <!-- Success -->
  {% assign success_section = site.sections | where: "title", "Measures of success" %}
  {% for section in success_section %}
    {{ section }}
  {% endfor %}
  <!-- Success -->

  <!-- Thank you -->
  {% assign thanks_section = site.sections | where: "title", "Thank you!" %}
  {% for section in thanks_section %}
    {{ section }}
  {% endfor %}
  <!-- Thank you -->

{% include foot.html %}
